 
.contact-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-container input,
.contact-container textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.contact-container button {
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 100px;
}

.contact-container button:hover {
  background-color: var(--button-bg-hover-color);
}
