.haunted-footer {
    font-size: 10px;
    display: flex;
    color: var(--text-color);;
    text-align: center;
    position: fixed;
    align-items: center;
    bottom: 0;
    width: 30rem;
    font-family: 'Creepster', cursive; 
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    margin-left: 25rem;
  }
  
  .haunted-footer p {
    margin: 0;
  }

  .haunted-footer .social-media {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .haunted-footer .social-media a {
    margin: 0 10px;
  }
  
  .haunted-footer .social-media img {
    width: 24px;
    height: 24px;
  }
  
  .haunted-footer div:last-child {
    text-align: center;
    padding: 10px 0;
  }
  
  .haunted-footer div:last-child a {
    color: #fff;
    text-decoration: none;
  }

  .mentions-legales{
    font-size: 10px;
  }

  .ml{
    color: var(--text-color);
  }